[submodule "API/Digital-Library-API"]
	path = API/Digital-Library-API
	url = https://github.com/Lbringer/Digital-Library-API.git
[submodule "Frontend/Lkart"]
	path = Frontend/Lkart
	url = https://github.com/Lbringer/Lkart.git
[submodule "API/Shout-Review"]
	path = API/Shout-Review
	url = https://github.com/Lbringer/Shout-Review.git
[submodule "Frontend/FotoFlix"]
	path = Frontend/FotoFlix
	url = https://github.com/Lbringer/FotoFlix.git
[submodule "Frontend/Spotify-Clone"]
	path = Frontend/Spotify-Clone
	url = https://github.com/Lbringer/Spotify-Clone.git
